@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.barraSuperior{
    background-color: #222222;
    color: #F3F3F3;
}

.barraMenuPrincipal{
    background-color: #F0A83E;
}

.logo-base{
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    color: #F3F3F3;
}

.logo-first{
    color: #3C2313;
}

.nav-links{
    list-style: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
}

.banner{
    background-image: url('../img/background_bowl.png');
    height: 800px;
    background-size: cover;
    padding: 100px;
}
.slide{
    text-align: center;
    color: #3C2313;
    font-size: 30px;
    line-height: 35.16px;
}
.slide>h2{
    padding: 20px;
}
.banner>p{
    margin-bottom: 50px;
}
.botonComederos{
    background-color: #F0A83E ;
    color: #FFFFFF;
    display: inline;
    margin-top: 20px;
}

.productos{
    color: #3C2313;
}

.subtitulos{
    padding: 20px 0 20px 0;
}

.precioJuguete{
    color: #F0A83E;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer{
    background-color: #3C2313;
}
.titulosFooter{
    color: #FFFFFF;
}
.descripcionFooter{
    color: #8A8787;
}
.first-logo-footer{
    color: #FFFFFF;
}
.second-logo-footer{
    color: #F0A83E;
}

.copyright{
    background-color: #F0A83E;
    color: #F3F3F3;
    text-align: center;
}