@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@700&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

/*<--------------Estilos Barra Superior del header-------------------->*/
.barraSuperior{
    background-color: #222222;
    color: #F3F3F3;
    display: flex;
    justify-content: space-between;
    padding: 0.5%;
}

.barraSuperiorTitulo{
    padding-left: 5%;
}

.barraSuperiorConfig{
    flex-grow: 0.1;
}

.barraSuperiorListaConfig{
    list-style: none;
}
.barraSuperiorListaConfig>li{
    display: inline;
    padding-right: 10%;
}

/*<--------------Estilos Barra Inferior del header-------------------->*/

.barraMenuPrincipal{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    padding: 1.5%;
}


.logo-base{
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    color: #F3F3F3;
}

.logo-first{
    color: #3C2313;
}

nav{
    flex-grow: 0.1;
}

.nav-links{
    display: flex;
    list-style: none;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 400;
    justify-content: space-between;
}

.nav-links>li{
    font-size: 19px;
    font-weight: 400;
    line-height: 15.23px;
}

/* <---------------- Estilos banner ---------------> */

.banner{
    background-image: url('../img/background_bowl.png');
    height: 409px;
    background-size: cover;
    padding: 100px;
}
.slide{
    text-align: center;
    color: #3C2313;
    font-size: 30px;
    line-height: 35.16px;
}
.slide h2{
    padding: 20px;
}
.banner{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.banner div{
    width: 30%;
}

.banner h2{
    color: #3C2313;
    background-color: #FFFFFF;
    display: inline-block;
    padding: 3%;
    border-radius: 10px;
    font-weight: 400;
    font-size: 30px;
    line-height: 35.16px;
    text-align: center;
}
.banner p{
    margin: 5% 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 18.75px;
}

.botonComederos{
    background-color: #F0A83E ;
    color: #FFFFFF;
    display: inline;
    margin-top: 20px;
    padding: 4% 8%;
    border-radius: 10px;
}

/* <---------------- Estilos Productos ---------------> */

.productos{
    color: #3C2313;
}

.infoGeneral{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}
.infoGeneral img{
    width: 67px;
    height: 71px;
}

.productosDescatados{
    display: flex;
    justify-content: space-evenly;
}

.productoCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 3%;
    flex-grow: 0.1;
    background-color: #FBFAF6;
}

.subtitulos{
    padding: 20px 0 20px 0;
    font-size: 40px;
}

.nombreJuguete{
    font-weight: 500;
    font-size: 21px;
    line-height: 17.58px;
    padding: 3% 0;
}

.precioJuguete{
    font-weight: 500;
    font-size: 19px;
    line-height: 17.58px;
    color: #F0A83E;
}

/* <--------------Estilos para el formulario----------------> */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario h2{
    font-size: 35px;
    font-weight: 700;
    line-height: 29.3px;
    color: #3C2313;
    padding: 2% 0;
}
.datosCliente{
    background-color: #3C2313;
    width: 20%;
    color: #FFFFFF;
    padding: 1.2% 3%;
    margin: 0.5% 0;
    border-radius: 20px;
}
.botonesForm{
    display: flex;
    justify-content: space-around;
}
.btnReset {
    background-color: #8A8787;
    color: #FFFFFF;
    padding: 15% 35%;
    margin: 50% 8%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.75px;
}
.btnEnviar{
    background-color: #F0A83E;
    color: #FFFFFF;
    padding: 15% 35%;
    margin: 50% 8%;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 400;
    line-height: 18.75px;
}

/* <---------------------Estilos footer------------------------> */

.suscripcion{
    background-color: #F0A83E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FBFAF6;
    font-size: 25px;
    font-weight: 700;
    line-height: 23.44px;
}
.infoSuscripcion{
    display: flex;
    align-items: center;
    padding: 0.5% 1%;
    flex-grow: 0.5;
}
.infoSuscripcion img{
    padding: 0.5% 2%;
}

.formSuscripcion{
    display: flex;
    flex-grow: 0.3;
    justify-content: space-evenly;
    align-items: center;
}
.ingresoCorreo{
    color: #A0A0A0;
    font-size: 11px;
    font-weight: 400;
    line-height: 10.55px;
    background-color: #FFFFFF;
    padding: 3% 15%;
    border-radius: 15px;
}
.botonSuscripcion{
    background-color: #3C2313;
    font-size: 20px;
    font-weight: 400;
    line-height: 10.55px;
    padding: 2.5% 5%;
    border-radius: 15px;
}

footer{
    background-color: #3C2313;
}

.infoFooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-base{
    flex-grow: 0.1;
}

.txtContacto{
    flex-grow: 0.3;
}

.infoBullet{
    display: flex;
    padding: 3% 10%;
    flex-grow: 0.3;
    align-items: center;
}

.txtInfo{
    padding: 0 5%;
}


.titulosFooter{
    color: #FFFFFF;
}
.descripcionFooter{
    color: #8A8787;
}
.first-logo-footer{
    color: #FFFFFF;
}
.second-logo-footer{
    color: #F0A83E;
}

.copyright{
    background-color: #222222;
    color: #F3F3F3;
    text-align: center;
    padding: 0.5% 0;
    font-size: 12px;
}